footer {
  width: 100%;
}

footer #gnb {
  /* 하단 메뉴 */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: var(--black-color);
  color: var(--grey-color);
  font-size: 12px;
  font-size: 0.75rem;
  z-index: 2000;
}

#gnb .gnb_list {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gnb_list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gnb_list li a.c_selected {
  color: var(--main-color);
}

/* 아이콘 */
.gnb_list li .iconify {
  font-size: 27px;
  font-size: 1.688rem;
}

/* 탑 버튼 */
#top_btn {
  position: fixed;
  right: 10px;
  bottom: 70px;
  width: 48px;
  height: 48px;
  background: url(../image/top_btn.png) no-repeat;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 2000;
  display: none;
}