@import url(common.css);
@import url(header.css);
@import url(footer.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* color */
  --black-color: #0a0a0a;
  --white-color: #fafafa;
  --grey-color: #999;
  --main-color: #ff007a;
  --accent-color: #6300d8;
  /* font */
  --font-basic: 'Noto Sans KR', sans-serif;
  --font-accent: 'GangwonEduPowerExtraBoldA';
}

body {
  width: 100%;
  height: 100%;
  background: var(--white-color);
  font-family: var(--font-basic);
  color: var(--black-color);
  -webkit-text-size-adjust: 100%;
}

/* 스플래쉬 */
img.splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  z-index: 3000;
}

/* ********** visual ********** */
#visual {
  margin-top: 60px;
  width: 100%;
}

/* ********** section ********** */
section#section_index {
  padding-bottom: 90px;
}

/* ##### category icon ##### */
section #category_box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#category_box li {
  margin: 0 8px;
}

#category_box li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 아이콘 배경 */
.category_icon {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #eeeeee;
  transition: all 0.3s;
}

.category_icon:hover {
  background: var(--black-color);
}

/* 아이콘 */
.category_icon .iconify {
  font-size: 35px;
  font-size: 2.188rem;
  color: var(--main-color);
  vertical-align: middle;
  height: 50px;
}

.category_title {
  font-size: 11px;
  font-size: 0.688rem;
  margin-top: 3%;
}

/* ##### top 5 class ##### */
#top_five {
  margin: 40px 20px;
}

#top_five .top_title {
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 20px;
}

#top_five li {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  position: relative;
}

#top_five li:after {
  position: absolute;
  top: -20px;
  left: 8px;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.7);
}

#top_five li.list1:after {
  content: "1";
}

#top_five li.list2:after {
  content: "2";
}

#top_five li.list3:after {
  content: "3";
}

#top_five li.list4:after {
  content: "4";
}

#top_five li.list5:after {
  content: "5";
}

/* 이미지 */
#top_five li img {
  width: 30%;
  border-radius: 5px;
}

#top_five li .top_textbox {
  width: 55%;
  font-size: 13px;
  font-size: 0.813rem;
  font-weight: 500;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* 설명 */
#top_five li .sub.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 16px;
}

/* % */
#top_five li .price .sale {
  color: var(--main-color);
  margin-right: 2%;
}

#top_five li .price .month {
  color: #b9b9b9;
  margin-left: 2%;
  font-size: 11px;
  font-size: 0.688rem;
}

/* ##### banner ##### */
.banner1 {
  margin: 90px 0;
}

.banner1 ul li {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: var(--white-color);
}

.banner1 .ban1 {
  background: var(--black-color);
}

.banner1 .ban2 {
  background: #3360ff;
}

.banner1 .ban3 {
  background: #ffd016;
}

.banner1 .ban4 {
  background: #ff3255;
}

.banner1 .text_box {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner1 .text_box p:first-of-type {
  font-weight: bold;
}

.banner1 .text_box p:last-of-type {
  font-size: 12px;
  font-size: 0.75rem;
}

/* ##### 클래스 안내 ##### */
#index_edu>div {
  margin: 50px 0;
}

#index_edu h3.title {
  font-size: 16px;
  font-size: 1rem;
  margin: 20px 20px 10px;
}

/* 클래스 목록 */
#index_edu ul li {
  width: 30%;
  border-radius: 5px;
  overflow: hidden;
  background: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

#index_edu ul li:first-child {
  margin-top: 0;
  margin-left: 20px;
}

#index_edu ul li:last-child {
  margin-right: 20px;
}

#index_edu img {
  width: 100%;
  height: 90px;
}

/* 텍스트 */
#index_edu ul li .text {
  padding: 5% 8%;
  font-size: 12px;
  font-size: 0.75rem;
  color: #666;
  font-weight: 500;
}

/* 이름 */
#index_edu .class_name {
  color: #666;
}

/* 상세 설명 */
#index_edu .class_sub.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin: 5% 0;
  line-height: 15px;
  font-size: 11px;
  font-size: 0.688rem;
  font-weight: 300;
}

#index_edu .class_price {
  margin: 5% 0;
}

/* 선 */
#index_edu hr.class_line {
  border: 1px solid #e9e9e9;
}

/* 할인 */
#index_edu .sale {
  color: var(--main-color);
  margin-right: 3%;
}

/* ********** quick menu ********** */
#aside {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 58px;
  height: 290px;
  overflow: hidden;
  z-index: 2000;
}

.quick_menu {
  position: relative;
  width: 100%;
  height: 100%;
}

.quick_list li,
.quick_toggle {
  width: 58px;
  height: 58px;
  background: var(--accent-color);
  color: var(--white-color);
  border-radius: 50%;
  text-align: center;
  line-height: 57px;
  font-size: 13px;
  font-size: 0.813rem;
  cursor: pointer;
}

.quick_list li {
  width: 57px;
  height: 57px;
  position: absolute;
  bottom: 0;
}

/* 토글 버튼 */
.quick_toggle {
  display: block;
  font-weight: 500;
  font-size: 32px;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  z-index: 2000;
}