@import url(common.css);
@import url(header.css);
@import url(footer.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  /* color */
  --black-color: #0a0a0a;
  --white-color: #fafafa;
  --grey-color: #999;
  --main-color: #ff007a;
  --accent-color: #6300d8;
  /* font */
  --font-basic: 'Noto Sans KR', sans-serif;
  --font-accent: 'GangwonEduPowerExtraBoldA';
}

body{
  width: 100%;
  height: 100%;
  background: var(--white-color);
  font-family: var(--font-basic);
  color: var(--black-color);
}

section{
  padding-top: 60px;
  padding-bottom: 90px;
}

/* ============= CATEGORY ============= */
section#category table{width: 100%;}

section#category table th{ /* 표 제목 */
  font-size: 18px;
  color: var(--main-color);
  padding: 30px 20px 10px;
  text-align: left;
}

section#category tr td{ /* 표 칸 */
  background: #f3f3f3;
  padding-left: 20px;
  width: 50%;
  height: 40px;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  position: relative;
}

section#category td .iconify{
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  right: 10px;
  color: var(--grey-color);
}

/* ============= SEARCH ============= */
/* 실시간 급상승 */
section#search .rising{padding: 30px 20px 20px;}
section#search .rising{position: relative;}

.rising p.title, .popular p.title{
  font-size: 19px;
  font-weight: bold;
}

.rising_up{ /* rolling 창 설정 */
  position: absolute;
  top: 30px;
  right: 50px;
  width: 45%;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  overflow: hidden;
}

.rising_up ul{
  font-size: 16px;
  color: #333;
}

.rising_up li span{ /* 숫자 */
  display: inline-block;
  width: 30px;
  height: 20px;
  font-weight: bold;
  color: var(--accent-color);
}

.rising .iconify{ /* down 아이콘 */
  position: absolute;
  top: 32px;
  right: 30px;
  font-size: 22px;
  color: var(--main-color);
  cursor: pointer;
}

.rising_all{display: none;}

table.rising_list{ /* 전체 박스 */
  width: 100%;
  height: 200px;
  font-size: 16px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

table.rising_list td{padding-left: 38px;}

table.rising_list td span{ /* 박스 숫자 */
  display: inline-block;
  font-weight: bold;
  color: var(--grey-color);
  width: 30px;
  height: auto;
}

/* 인기 검색어 */
section#search .popular{padding: 30px 0px 20px;}

.popular .title{
  padding-left: 20px;
  margin-bottom: 10px;
}

table.popular_list{
  width: 100%;
  height: 250px;
  font-size: 16px;
}

table.popular_list tr{
  border-bottom: 1px solid #ccc;
}

table.popular_list td{padding-left: 38px;}

table.popular_list td span{
  display: inline-block;
  font-weight: bold;
  color: var(--grey-color);
  width: 30px;
  height: auto;
}

/* ============= EVENT ============= */
/* tab button */
section#event .tab_button{
  padding: 80px 20px 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

section#event .tab_button li{
  cursor: pointer;
  padding: 5px 20px;
  border: 2px solid var(--main-color);
  color: #333;
  font-weight: 500;
}

section#event .tab_button li.selected{ /* jQuery */
  background: var(--main-color);
  color: var(--white-color);
}

/* tab content */
section#event .tab_content>li:not(.show){display: none;} /* jQuery */

.tab_content{
  width: 90%; 
  margin: 0 auto;
}

.tab_content>li{ /* 전체 박스 크기: tab1, tab2 */
  padding: 10px;
  width: 90%;
}

.tab_content>li>ul>li{ /* event 박스 */
  margin-bottom: 40px; /* 버튼 위치 조정 */
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab_content .img_box img{border-radius: 15px 15px 0 0;}

.tab_content .text_box{
  margin: 20px 0px;
  text-align: center;
}

.tab_content .text_box p:first-child{ /* 큰 텍스트 */
  font-size: 17px;
  font-weight: bold;
  color: var(--accent-color);
  line-height: 21px;
  margin-bottom: 10px;
}

.tab_content button{ /* 버튼 */
  cursor: pointer;
  border: none;
  background: var(--accent-color);
  color: var(--white-color);
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 20px;
}