@import url(common.css);
@import url(header.css);
@import url(footer.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  /* color */
  --black-color: #0a0a0a;
  --white-color: #fafafa;
  --grey-color: #999;
  --main-color: #ff007a;
  --accent-color: #6300d8;
  /* font */
  --font-basic: 'Noto Sans KR', sans-serif;
  --font-accent: 'GangwonEduPowerExtraBoldA';
}

body{
  width: 100%;
  height: 100%;
  background: var(--white-color);
  font-family: var(--font-basic);
  color: var(--black-color);
}

section{
  padding-top: 60px;
  padding-bottom: 90px;
}

/* ============= CATEGORY ============= */
section#category table{width: 100%;}

section#category table th{ /* 표 제목 */
  font-size: 18px;
  color: var(--main-color);
  padding: 30px 20px 10px;
  text-align: left;
}

section#category tr td{ /* 표 칸 */
  background: #f3f3f3;
  padding-left: 20px;
  width: 50%;
  height: 40px;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  position: relative;
}

section#category td .iconify{
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  right: 10px;
  color: var(--grey-color);
}

/* ============= SEARCH ============= */
section#search .rising, .popular{
  padding: 30px 20px 20px;
}

/* 실시간 급상승 */
section#search .rising{position: relative;}
.rising p.title, .popular p.title{
  font-size: 19px;
  font-weight: bold;
}

.rising_up{ /* rolling 창 설정 */
  position: absolute;
  top: 30px;
  right: 50px;
  width: 45%;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  overflow: hidden;
}

.rising_up ul{
  font-size: 16px;
  color: #333;
}

.rising_up li span{ /* 숫자 */
  display: inline-block;
  width: 30px;
  height: 20px;
  font-weight: bold;
  color: var(--accent-color);
}

.rising .iconify{ /* down 아이콘 */
  position: absolute;
  top: 32px;
  right: 20px;
  font-size: 20px;
  color: var(--main-color);
}

.list_all{display: none;}
table.rising_list{ /* 전체 박스 */
  width: 100%;
  height: 200px;
  font-size: 16px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

table.rising_list td span{ /* 박스 숫자 */
  display: inline-block;
  padding-left: 20px;
  font-weight: bold;
  color: var(--grey-color);
  width: 30px;
  height: auto;
}

/* 인기 검색어 */