@import url(common.css);
@import url(header.css);
@import url(footer.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* color */
  --black-color: #0a0a0a;
  --white-color: #fafafa;
  --grey-color: #999;
  --main-color: #ff007a;
  --accent-color: #6300d8;
  /* font */
  --font-basic: 'Noto Sans KR', sans-serif;
  --font-accent: 'GangwonEduPowerExtraBoldA';
}

body {
  width: 100%;
  height: 100%;
  background: var(--white-color);
  font-family: var(--font-basic);
  color: var(--black-color);
  -webkit-text-size-adjust: 100%;
}

body.class_list {
  width: 100%;
  height: 100%;
  background: var(--black-color);
}

section:not(#class_section) {
  padding-top: 60px;
  padding-bottom: 90px;
}

/* ============= CATEGORY ============= */
section#category table {
  width: 100%;
}

/* 표 제목 */
section#category table th {
  font-size: 18px;
  font-size: 1.125rem;
  color: var(--main-color);
  padding: 30px 20px 10px;
  text-align: left;
}

/* 표 칸 */
section#category tr td {
  background: #f3f3f3;
  padding-left: 20px;
  width: 50%;
  height: 40px;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  position: relative;
}

section#category td a {
  font-weight: 500;
}

section#category td .iconify {
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  right: 10px;
  color: var(--grey-color);
}

/* ============= SEARCH ============= */
/* 실시간 급상승 */
section#search .rising {
  padding: 30px 20px 20px;
}

section#search .rising {
  position: relative;
}

.rising p.title,
.popular p.title {
  font-size: 19px;
  font-size: 1.188rem;
  font-weight: bold;
}

/* rolling 창 설정 */
.rising_up {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 45%;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  overflow: hidden;
}

.rising_up ul {
  font-size: 16px;
  font-size: 1rem;
  color: #333;
}

/* 숫자 */
.rising_up li span {
  display: inline-block;
  width: 30px;
  height: 20px;
  font-weight: bold;
  color: var(--accent-color);
}

/* down 아이콘 */
.rising .iconify {
  position: absolute;
  top: 32px;
  right: 30px;
  font-size: 22px;
  font-size: 1.375rem;
  color: var(--main-color);
  cursor: pointer;
}

.rising_all {
  display: none;
}

/* 전체 박스 */
table.rising_list {
  width: 100%;
  height: 200px;
  font-size: 16px;
  font-size: 1rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

table.rising_list td {
  padding-left: 38px;
}

/* 박스 숫자 */
table.rising_list td span {
  display: inline-block;
  font-weight: bold;
  color: var(--grey-color);
  width: 30px;
  height: auto;
}

/* 인기 검색어 */
section#search .popular {
  padding: 30px 0px 20px;
}

.popular .title {
  padding-left: 20px;
  margin-bottom: 10px;
}

table.popular_list {
  width: 100%;
  height: 250px;
  font-size: 16px;
  font-size: 1rem;
}

table.popular_list tr {
  border-bottom: 1px solid #ccc;
}

table.popular_list td {
  padding-left: 38px;
}

table.popular_list td span {
  display: inline-block;
  font-weight: bold;
  color: var(--grey-color);
  width: 30px;
  height: auto;
}

/* ============= EVENT ============= */
/* tab button */
section#event .tab_button {
  padding: 40px 20px 20px;
  font-size: 16px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

section#event .tab_button li {
  cursor: pointer;
  padding: 5px 20px;
  border: 2px solid var(--main-color);
  color: #333;
  font-weight: 500;
}

section#event .tab_button li.selected {
  /* jQuery */
  background: var(--main-color);
  color: var(--white-color);
}

/* tab content */
section#event .tab_content>li:not(.show) {
  /* jQuery */
  display: none;
}


/* 전체 박스 크기: tab1, tab2 */
.tab_content>li {
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
  width: 85%;
}

/* event 박스 */
.tab_content>li>ul>li {
  margin-bottom: 40px;
  /* 버튼 위치 조정 */
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab_content .img_box {
  width: 100%;
}

.tab_content .img_box img {
  border-radius: 15px 15px 0 0;
}

.tab_content .text_box {
  margin: 20px 0px;
  text-align: center;
}

/* 큰 텍스트 */
.tab_content .text_box p:first-child {
  font-size: 17px;
  font-size: 1.063rem;
  font-weight: bold;
  color: var(--accent-color);
  line-height: 21px;
  margin-bottom: 10px;
}

/* 버튼 */
.tab_content button {
  cursor: pointer;
  border: none;
  background: var(--accent-color);
  color: var(--white-color);
  font-size: 17px;
  font-size: 1.063rem;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/* tab2 - 종료된 이벤트 표시 */
.tab2 {
  position: relative;
}

.tab2>ul>li::before {
  content: "";
  position: absolute;
  inset: 0px;
  background: rgba(0, 0, 0);
  opacity: 0.45;
  border-radius: 15px;
}

.tab2>ul>li::after {
  content: "종료된 이벤트";
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  font-size: 1rem;
  padding: 8px 20px;
  background: var(--accent-color);
  color: var(--white-color);
  font-weight: 500;
  border-radius: 4px;
  z-index: 1;
}

/* ============= MY PAGE ============= */
section#mypage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

section#mypage .user_box,
.info_box {
  width: 80%;
  margin: 0 auto;
}

/* 1번 박스 */
section#mypage .user_box {
  display: flex;
  flex-direction: column;
  height: 110px;
  margin: 30px auto;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.user_box .user_icon {
  width: 50px;
  height: 50px;
  background: var(--black-color);
  border-radius: 50%;
  text-align: center;
}

/* 아이콘 */
.user_box .user1 .iconify {
  height: 50px;
  font-size: 40px;
  font-size: 2.5rem;
  color: var(--main-color);
  vertical-align: middle;
  cursor: pointer;
}

/* 아이콘+이름 박스 */
.user_box .user1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
}

/* 도연 */
.user_name .name span {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
}

.user_name .level {
  color: #666;
  font-size: 16px;
  font-size: 1rem;
  margin-top: -5px;
}

.user2 .text {
  color: var(--grey-color);
}

/* 2번 박스 */
section#mypage .info_box {
  display: flex;
  height: 70px;
  margin-top: -10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-evenly;
  background: #ececec;
  border-radius: 10px;
  font-size: 18px;
  font-size: 1.125rem;
}

/* 구분선 */
.info_box .iconify {
  font-size: 30px;
  font-size: 1.875rem;
  color: #ccc;
}

.info_box p {
  margin-top: -3px;
}

/* 강조 텍스트 */
.info_box span {
  display: inline-block;
  width: 35px;
  text-align: right;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

/* 아코디언 박스 */
section#mypage dl {
  width: 80%;
  margin: 0 auto;
}

/* 제목 */
dt {
  cursor: pointer;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  height: 35px;
  text-indent: 10px;
  border-bottom: 1px solid var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dt.selected {
  color: var(--accent-color);
}

/* 내용 */
dd {
  font-size: 12px;
  font-size: 0.75rem;
  padding: 8px 5px;
  color: var(--grey-color);
}

dd span {
  font-weight: 500;
}

dd li {
  text-indent: 10px;
  list-style: inside;
}

/* ============= 1~5 category ============= */
section#class_section {
  width: 86%;
  margin: 0 auto;
  background: var(--white-color);
  border-radius: 15px;
  color: var(--grey-color);
  padding: 50px 0;
}

section#class_section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* 카드 */
section#class_section ul li {
  width: 40%;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  background: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

section#class_section ul li[data-index="4"],
section#class_section ul li[data-index="5"],
section#class_section ul li[data-index="6"],
section#class_section ul li[data-index="7"] {
  display: none;
  /* -> jQuery 조정 */
}

/* 이미지 */
section#class_section img {
  width: 100%;
  height: 110px;
}

/* 텍스트 */
section#class_section ul li .text {
  padding: 5% 8%;
  font-size: 13px;
  font-size: 0.813rem;
}


/* 이름 */
section#class_section .class_name {
  font-weight: bold;
  color: #666;
}

/* 상세 설명 */
section#class_section .class_sub.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin: 5% 0;
  line-height: 15px;
  font-size: 12px;
  font-size: 0.75rem;
}

section#class_section .class_price {
  margin: 5% 0;
  font-weight: bold;
  color: #333;
  font-size: 14px;
  font-size: 0.875rem;
}

/* 선 */
section#class_section hr.class_line {
  border: 1px solid #e9e9e9;
}


/* 할인 */
section#class_section .sale {
  font-weight: bold;
  color: var(--main-color);
  margin-right: 3%;
}

/* 5개월 */
section#class_section .month {
  color: #adadad;
  font-weight: 300;
  font-size: 12px;
  font-size: 0.75rem;
}

section#class_section .more_btn {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

section#class_section button {
  cursor: pointer;
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--white-color);
  transition: all 0.3s;
}

section#class_section button:hover {
  background: var(--accent-color);
}