@import url(common.css);
@import url(index.css);

/* =========== swiper1 ============== */
.tab1 { /* 갤러리 전체영역 설정 */
	overflow:hidden; 
	position:relative; 
	margin:0 auto; 
	width:100%; 
	/* height: auto; */
} 

.swiper-wrapper .swiper-slide img{  /*가변이미지*/
	width:100%; 
	max-width:100%;
}


/* 하단버튼 */
.tab1 .nav1 { 
	position: absolute; 
	left:0px; 
	bottom:10px; 
	text-align: center;  
	z-index: 10; 
} 
.tab1 .nav1 .swiper-pagination-bullet { /* 버튼모양설정 */
	background-color:#ccc;  
	opacity: 1;
	width:10px; 
	height:10px; 
	margin-left:5px; 
	border-radius: 50%; 
} 
.tab1 .nav1 .swiper-pagination-bullet-active{  /* 메뉴on 설정(현재위치활성화) */
	background-color:var(--main-color); 
	opacity:1;
} 


/* 좌우버튼 */
.tab1 .swiper-button-prev, 
.tab1 .swiper-button-next { 
	position:absolute; 
	top:50%; 
	width:27px; 
	height:44px; 
	margin-top:-22px; 
	z-index:10; 
	cursor:pointer; 
	background-size:cover; 
}
.tab1 .swiper-button-prev { left:50px; /* background:url(); */ } /* 이전버튼 */
.tab1 .swiper-button-next { right:50px; /* background:url(); */ } /* 다음버튼 */


/* =========== swiper2 ============== */
.tab2 { /* 갤러리 전체영역 설정 */
	overflow:hidden; 
	position:relative; 
	margin:0 auto; 
	width:100%; 
	/* height: auto; */
} 

.swiper-wrapper .swiper-slide img{  /*가변이미지*/
	width:100%; 
	max-width:100%;
}


/* 하단버튼 */
.tab2 .nav2 { 
	position: absolute; 
	left:0px; 
	bottom:10px; 
	text-align: center;  
	z-index: 10; 
} 
.tab2 .nav2 .swiper-pagination-bullet { /* 버튼모양설정 */
	background-color:#ccc;  
	opacity: 1;
	width:10px; 
	height:10px; 
	margin-left:5px; 
	border-radius: 50%; 
} 
.tab2 .nav2 .swiper-pagination-bullet-active{  /* 메뉴on 설정(현재위치활성화) */
	background-color:var(--main-color); 
	opacity:1;
} 


/* 좌우버튼 */
.tab2 .swiper-button-prev, 
.tab2 .swiper-button-next { 
	position:absolute; 
	top:50%; 
	width:27px; 
	height:44px; 
	margin-top:-22px; 
	z-index:10; 
	cursor:pointer; 
	background-size:cover; 
}
.tab2 .swiper-button-prev { left:50px; /* background:url(); */ } /* 이전버튼 */
.tab2 .swiper-button-next { right:50px; /* background:url(); */ } /* 다음버튼 */


/* =========== Content ============== */

/* .content{
	width:100%;
}
.content .con1{
	width:100%;
	height:200px;
	background:orange;
}
.content .con2{
	width:100%;
	height:200px;
	background:skyblue;
}
.content .con3{
	width:100%;
	height:200px;
	background:pink;
}
footer{
	width:100%;
	height:50px;
	background:gray;
} */